body {
    overflow: scroll;
    overflow-y: auto;
    color: white;
    font-weight: bold;
    top: 25%;
    left: 5%;
    right: 0;
}

a {
    color: #FFC107;
}

.container {
    padding-top: 2%;
    padding-bottom: 2%;
}

.table {
    color: white;
    background: rgba(12, 11, 9, 0.6);
   
}


.btn-outline-warning{
    font-weight: bold;
    
}

#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}


#header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    font-weight: bold;
    
}


.navbar-light .navbar-brand {
    color: #FFC107;
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.navbar-brand:hover {
    color: #bd8e04 !important;
}




/*Dropdown*/
.dropdown-toggle {
    color: black;
    font-weight: bold;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #000;
    text-align: center;
    background: #FFC107;
}



/*Footer*/
#footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;

    background: #262626;
    color: #627482 !important;

}



a {
    color: royalblue;
    text-decoration: none;
}


/* Social */
.navbar-brand {
    transition: width 1s;
}
 .navbar-brand:hover {
        width: 220px;
      
    }

.fa {
    margin-left:30px;
    padding: 15px;
    font-size: 30px;
    width: 50px;
    font-size:22px !important;
    text-decoration: none;
    color:white;
   
}


    .fa:hover {
        opacity: 0.7;

    }

.fa-facebook {
    background: none;
    color: white;
}

.twitter-page { 
    float:left;
    padding-bottom:150px;
}

.mapdes {
    margin-bottom: 150px;

    
}


.title-page {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 8px #FFC107;
    -webkit-text-stroke: 1px #000000;
    /* background: -webkit-linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);
    background: -moz-linear-gradient(to left, #FFFF00 0%, white 50%, #FFC107 100%);
    background: linear-gradient(to left, #FFFF00 0%, white 50%, #FFC107 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

video{
    border:solid;
}

.vidtit {
    color: white;
    font-weight:bold;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke: 1px #000000;
    margin-right:10px !important;

}






