@model Petstaurant.Models.FoodGroup

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="foodGroupValidation" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="name" asp-for="Name" class="form-control" />
                <span id="nameError" asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Error != null)
{
    <div class="text-danger">@ViewBag.Error</div>}

<div>
    <a style="color: #FFC107 !important;" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/foodGroup.js"></script>
}
