@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/css/locationsStyle.css"/>
    <script src="./index.js"></script>
</head>


<style>
    body {
        background-image: url(/pics/bsheva5.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
    }   

   </style>


<div class="container">
    <div class="aboutsyyle float-start">
        <h1 class="display-5" style="font-weight:bold;">Beer-Sheva</h1>
        <h1 class="display-6" style="font-weight:bold;">Petstaurant In The Desert !<br /></h1>
        <p class="fs-3">
            Is it hot and dry?<br />
            Is Your pet a Dog, Cat or Camel?<br />
            It's time to make them happy,<br />
            Vicki Our head Chef will make it happen !<br />
            <br />


        </p>

        <button asp-controller="Home" asp-action="TheCrew" class="btn btn-outline-dark btn-warning" style="font-weight: bold; -webkit-text-stroke:0 !important;">Meet Vicki!</button>
        <button asp-controller="Dishes" asp-action="Index" class="btn btn-outline-dark btn-warning" style="font-weight: bold; -webkit-text-stroke:0 !important;">Order Now!</button>


    </div>
    <section>
        <div class="mapdes float-end">
            <p class="fs-3 text-center" style="-webkit-text-stroke: 1px #000000;">Our Kitchen at the Central Station</p>
            <iframe width="500" height="400" style="border: 1px solid black;" frameborder="1" src="https://www.bing.com/maps/embed?h=400&w=500&cp=31.24259389454452~34.79650103515998&lvl=17&typ=d&sty=h&src=SHELL&FORM=MBEDV8" scrolling="no">
            </iframe>
            <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
                <a class="btn btn-outline-dark btn-light btn-sm" style="font-weight: bold;" id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=32.073660664462615~34.79246964321723&amp;sty=h&amp;lvl=16&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;

                <a class="btn btn-outline-dark btn-light btn-sm" style="font-weight: bold;" id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=32.073660664462615~34.79246964321723&amp;sty=h&amp;lvl=16&amp;rtp=~pos.32.073660664462615_34.79246964321723____&amp;FORM=MBEDLD">Get Directions</a>
            </div>
        </div>
    </section>
</div>