@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/css/locationsStyle.css" />
    <script src="./index.js"></script>
</head>


<style>
    body {
        background-image: url(/pics/jerusalem5.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="container">
    <div class="aboutsyyle float-start">
        <h1 class="display-5" style="font-weight:bold;">Jerusalem</h1>
        <h1 class="display-6" style="font-weight:bold;">Petstaurant In The Holy City !<br /></h1>
        <p class="fs-3">
            If you live or Visit Jerusalem,<br />
            If You "Beitar" or "Hapoel" fan<br />
            Our chef - Daisy,<br />
            will love to make great meals for you!<br />
            <br />


        </p>

        <a asp-controller="Home" asp-action="TheCrew" class="btn btn-outline-dark btn-warning" style="font-weight: bold; -webkit-text-stroke:0 !important;">Meet Daisy!</a>
        <a asp-controller="Dishes" asp-action="Index" class="btn btn-outline-dark btn-warning" style="font-weight: bold; -webkit-text-stroke:0 !important;">Order Now!</a>


    </div>
    <div class="mapdes float-end">
        <p class="fs-3 text-center" style="-webkit-text-stroke: 1px #000000;">Our Kitchen at Teddy stadium</p>
        <section>
            <iframe width="500" height="400" style="border: 1px solid black;" frameborder="1" src="https://www.bing.com/maps/embed?h=400&w=500&cp=31.751223938670385~35.19125814680946&lvl=17&typ=d&sty=h&src=SHELL&FORM=MBEDV8" scrolling="no">
            </iframe>
        </section>
        <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
            <a class="btn btn-outline-dark btn-light btn-sm" style="font-weight: bold;" id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=32.073660664462615~34.79246964321723&amp;sty=h&amp;lvl=16&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;

            <a class="btn btn-outline-dark btn-light btn-sm" style="font-weight: bold;" id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=32.073660664462615~34.79246964321723&amp;sty=h&amp;lvl=16&amp;rtp=~pos.32.073660664462615_34.79246964321723____&amp;FORM=MBEDLD">Get Directions</a>
        </div>
    </div>
</div>