@model Petstaurant.Models.Store
@{ ViewData["Title"] = "Home Page"; }

<head>
    <link rel="stylesheet" href="/css/locationsStyle.css" />
</head>


<style>
    body {
        background-image: url(/pics/jerusalem5.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div id="openweathermap-widget-19"></div>
<div class="container" id="city">
    <div class="row">
        <div class="col-md-7">
            <div class="aboutsyyle float-start">
                <h1 class="display-5" style="font-weight:bold;">Jerusalem</h1>
                <h1 class="display-6" style="font-weight:bold;">Petstaurant In The Holy City !<br /></h1>
                <p class="fs-3">
                    If you live or Visit Jerusalem,<br />
                    If You "Beitar" or "Hapoel" fan<br />
                    Our chef - Daisy,<br />
                    will love to make great meals for you!<br />
                </p>




                <a asp-controller="Home" asp-action="TheCrew" class="btn btn-outline-dark btn-warning" style="font-weight: bold; -webkit-text-stroke:0 !important;">Meet Daisy!</a>
                <a asp-controller="Dishes" asp-action="Index" class="btn btn-outline-dark btn-warning" style="font-weight: bold; -webkit-text-stroke:0 !important;">Order Now!</a>


            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <div class="mapdes float-end">
                <p class="fs-4 text-center" style="-webkit-text-stroke: 1px #000000;">Our Kitchen at Teddy stadium</p>
                <section>
                    <iframe width="400"
                            height="300"
                            frameborder="0" style="border:solid"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD9csZq6qnB_tyJV0GWhN3m2An0r7f97Gg&q=@ViewBag.StoreAddress">
                    </iframe>
                </section>

            </div>
        </div>
    </div>
</div>

<script>
    window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
    window.myWidgetParam.push({ id: 19, cityid: '281184', appid: '5f30bc2ff1e80a40896b3c61189e694e', units: 'metric', containerid: 'openweathermap-widget-19', });
    (function () {
        var script = document.createElement('script');
        script.async = true;
        script.charset = "utf-8";
        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(script, s);
    })();
</script>
