@model Petstaurant.Models.User

@{ ViewData["Title"] = "Register"; }

<h1>Sign Up</h1>

<div class="row">
    <div class="col-md-4">
        <form id="regValidation" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input id="email" asp-for="UserName" class="form-control" autocomplete="off" />
                <span id="emailError" asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select name="gender" id="gender" placeholder="Your gender">
                    <option value="DontWishToSpecify" selected>Don't wish to specify</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input id="bDate" asp-for="BirthDate" class="form-control" />
                <span id="bDateMsg" asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error</div>
        }
    </div>
</div>

<div>
    <a asp-action="Login" class="signup-image-link">I am already a member</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/register.js"></script>
}
