@{
    ViewData["Title"] = "AboutPetstaurant";
}

<style>
    


</style>

<div  class="container" >
    <h2 >About Us...</h2>
    <p>
        There are an increase in dog-owners taking their pet's diets into their own hands.

        Yes, it is true that making wholesome home-cooked food for our dogs is great because it gives us the control as to what goes into their diets.

        But the problem is that you don't have time to make this dishes.

        To help you with a diet that is not only delicious but also has enough nutrition for your pet, check out these healthy gourmet dishes that we have picked out for your best friend.<br /><br />

        Bon Appétit.
    </p>

    <button asp-controller="Home" asp-action="TheCrew" class="btn btn-outline-dark btn-warning" style="font-weight:bold">Meet Our Crew !</button>


</div>
