@{
    ViewData["Title"] = "AboutPetstaurant";
}

<div class="footer_section_container container">
    <h2 class="footer-header">About Petstaurant</h2>
    <p class="footer-description">
        At Petstaurant, we understand that pets really are family and deserve to be treated as such. We know that providing healthy food with real ingredients is important, but cooking a homemade meal for your pet each night just isn’t realistic. That’s why we’ve created a full line of wholesome options for all pets..<br /><br />
       
        Bon Appétit.
    </p>
</div>
