
@{
    ViewData["Title"] = "Careers";
}

<div class="footer_section_container container">
    <h2 class="footer-header">Careers</h2>
    <p class="footer-description">Come work with us! <br /><br />If you are a pet's lover and you want to join us, send us your CV via email.</p>
    <div class="multiple_column">
        <p class="p_careers">petstaurant@notreal.com</p>
        <p class="p_careers">050-1234567</p>
        <p class="p_careers">Misada Lehayot 6, Tel Aviv</p>
    </div>
</div>