@{
    ViewData["Title"] = "Home Page";
}

<div class="home_main_container container">
    <a asp-action="Shop" asp-controller="FoodGroups" asp-route-id="1"><h1 class="main-header-home">Welcome to Petstaurant!</h1></a>
    <h1 class="If You Like Pets, Youl'll Love Us'"></h1>



</div>