@{
    ViewData["Title"] = "Home Page";
}



<div class="home_main_container container">
    <h1 class="title-page display-5">Welcome to Petstaurant...</h1>
    <h1 class="title-page display-5">If You Like Pets, You'll Love Us!</h1>


    <aside class="col-4 twitter-page">
        <a class="twitter-timeline" href="https://twitter.com/PetStaurant?ref_src=twsrc%5Etfw" data-theme="dark" data-tweet-limit="5">Tweets by PetStaurant</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </aside>

    <div class="position-relative">
        <div class="position-absolute top-30 start-50">
            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="2000" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/pics/intro1.jpg" class="d-block w-40 img-thumbnail" width="500" height="300" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/pics/intro2.jpg" class="d-block w-40 img-thumbnail" width="500" height="300" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/pics/intro3.jpg" class="d-block w-40 img-thumbnail" width="500" height="300" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/pics/intro4.jpg" class="d-block w-40 img-thumbnail" width="500" height="300" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/pics/intro5.jpg" class="d-block w-40 img-thumbnail" width="500" height="300" alt="...">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>