
@{
    ViewData["Title"] = "TheCrew";
}

<link rel="stylesheet" href="~/css/crewCss.css" />

<div class="row">
    <div class="col mt-4">
        <div class="card text-center mb-3">
            <img src="/pics/Ratatouille.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title"> Ratatouille </h3>
            </div>
            <ul class="list-group list-group-flush card-items">
                <li class="list-group-item"><h4>Head Chef</h4> Tel Aviv</li>
            </ul>
            <div class="card-body">
                <div class="social-links d-flex justify-content-center">
                    <a href="mailto:mousedosnt@haveemail.com" class="fa falin bi bi-envelope"></a>
                    <a href="https://www.facebook.com/PixarRatatouille/" class="fa falin fa-facebook"></a>
                    <a href="https://twitter.com/search?q=%23ratatouille&lang=en" class="fa falin fa-twitter"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-4">
        <div class="card text-center mb-3">
            <img src="/pics/catchef.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title"> Daisy </h3>
            </div>
            <ul class="list-group list-group-flush card-items">
                <li class="list-group-item"><h4>Head Chef</h4> Jerusalem</li>
            </ul>
            <div class="card-body">
                <div class="social-links d-flex justify-content-center">
                    <a href="mailto:catdosnt@haveemail.com" class="fa falin bi bi-envelope"></a>

                </div>
            </div>
        </div>
    </div>
    <div class="col mt-4">
        <div class="card text-center mb-3">
            <img src="/pics/dogchef.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title"> Vicki </h3>
            </div>
            <ul class="list-group list-group-flush card-items">
                <li class="list-group-item"><h4>Head Chef</h4> Beer Sheva</li>
            </ul>
            <div class="card-body">
                <div class="social-links d-flex justify-content-center">
                    <a href="mailto:dogdosnt@haveemail.com" class="fa falin bi bi-envelope"></a>

                </div>
            </div>
        </div>
    </div>
    <div class="col mt-4">
        <div class="card text-center mb-3">
            <img src="/pics//GRchef.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title" style="font-size:24px !important"> Gordon Ramsay </h3>
            </div>
            <ul class="list-group list-group-flush card-items">
                <li class="list-group-item"><h4>Sous-Chef</h4>Kiryat Malachi</li>
            </ul>
            <div class="card-body">
                <div class="social-links d-flex justify-content-center">
                    <a href="https://instagram.com/gordongram/" class="fa falin bi fa-instagram"></a>
                    <a href="https://www.facebook.com/gordonramsay" class="fa falin fa-facebook"></a>
                    <a href="https://twitter.com/gordonramsay" class="fa falin fa-twitter"></a>
                   
                </div>
            </div>
        </div>
    </div>

</div>
