
@{
    ViewData["Title"] = "TheCrew";
}

<div class="footer_section_container container">
    <h2 class="footer-header">Meet Our Crew!</h2>
    <p class="footer-description"  <br /><br />Our PetChef in New York is Shimon Cohen.<br /><br />Our PetChef in Tel Aviv is Emil Kolek.<br /><br />Our PetChef in Tokyo is Adar Gvili.<br /><br /></p>
</div>
