@model Petstaurant.Models.Dish

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Dish</h1>

<div class="row">
    <div class="col-md-4">
        <form id="dishValidation" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="name" asp-for="Name" class="form-control" />
                <span id="nameError" asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodGroupId" class="control-label"></label>
                <select id="foodgroup" asp-for="FoodGroupId" class="form-control" asp-items="ViewBag.FoodGroupId"></select>
                <span id="foodgroupError" asp-validation-for="FoodGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store" class="control-label"></label>
                <select id="store" asp-for="Store" class="form-control" asp-items="ViewBag.Store"></select>
                <span id="storeError" asp-validation-for="Store" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="description" asp-for="Description" class="form-control" />
                <span id="descriptionError" asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="price" asp-for="Price" class="form-control" />
                <span id="priceError" asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="color: #FFC107 !important;" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/dish.js"></script>
}
